{% extends "base.html" %}

{% block body %}
<div class="col-lg-12">
    <strong>Todos os Perfis</strong>
    {% with total_de_contatos=perfil.contatos.count %}
    {% if perfis %}
    <ul class="list-group">
        {% for perfil in perfis %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a class="list-group-item " href="{% url 'exibir' perfil.id %}">
                {{perfil.nome.upper}} </a>
            <span class="badge bg-primary rounded-pill">
                {{ perfil.contatos.count }}
                Contatos
            </span>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>Nenhum Perfil encontrado</p>
    {% endif %}
    {% endwith %}
</div>
<!-- bloco novo de código que exibe os convites -->

<div class="panel panel-info my-5">
    {% with total_de_convites=perfil_logado.convites_recebidos.count %}
    {% if perfil_logado.convites_recebidos.count %}
    <div class="panel-heading">
        <strong>
            Você tem {{ total_de_convites }} convite{{total_de_convites|pluralize}} aguardando
            aprovação
        </strong>
    </div>
    <ul class="list-group">
        {% for convite in perfil_logado.convites_recebidos.all %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            {{ convite.solicitante.nome }}
            <a class='btn btn-outline-success' href="{% url 'aceitar' convite.id %}" class="pull-right">aceitar</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}

    <p class="text-secondary my-5 border border-primary">Nenhum solicitação encontrada :( </p>

    {% endif %}
    {% endwith %}
</div>

<!-- fim do bloco novo -->

<!-- novo painel! -->

<div class="panel panel-info">
    {% with total_de_contatos=perfil_logado.contatos.count %}
    {% if total_de_contatos %}

    <strong>Você tem {{total_de_contatos}} contato{{ total_de_contatos|pluralize }}</strong>

    <ul class="list-group">
        {% for contato in perfil_logado.contatos.all %}
        <li class="list-group-item">
            <a href="{% url 'exibir' contato.id %}">{{ contato.nome }}</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}

    <p>Você não possui contatos no momento :(</p>

    {% endif %}
    {% endwith %}
</div>
<!-- fim do novo painel! -->


{% endblock %}